
#logo{
    height: 200px;
    width: 100%;
    background-image: url('logo.jpg');
    background-size: 100% 400%;
    background-position: 0px -300px;
    padding-top: 5%;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.row{
    color: #ffffff;
}

